*{
    margin: 0px;
    padding: 0px;
}

h1{
    color: orangered;
    padding: 20px;
    margin: 20px;
}

ul{
     font-family: Arial;
    padding: 20px;
    margin: 20px;
}

li{
    color: orangered;
    text-shadow: 1px 1px grey;
}

p{
    justify-content: center;
    padding: 20px;
    margin: 20px;

}

form{
    padding: 20px;
    margin: 20px;
}

body{
    font-family: arial;
}

.card{
    background-color: grey;
    height: 300px; width: 250px;
    margin: 20px; padding: 20px;
    border-radius: 10px;
}